response_msg: 'Hello!'
fake_language: 'FALSE'
extra_sauce: '2'
whisper: 'FALSE'
transfer: ''
tags: 'test:tag'
host: 'graphql.host'
networkHandle: ''
trace: 'FALSE'
authorization: ''
url: 'https://graphql.endpoint'
log_url: ''